body{

font-family:Arial;

padding:40px;

}

.chart{

display:flex;

gap:20px;

align-items:end;

height:300px;

}

.chart div{

width:120px;

background:#2563eb;

color:white;

display:flex;

justify-content:center;

align-items:center;

}